.message {
    margin: 20px;
}


.imageAndText {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: flex-start;

}

.imageAndText img {
    height: 48px;
    align-self: end;
}

.text {
    color: #FFFFFF;
    border: solid 0;
    border-radius: 10px 10px 0 10px;
    background-color: #0066CC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(67px at top right, transparent 50%, #0066CC 51%) right bottom;}

.name {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

}

.messageText {
    padding: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    margin:3px;
    display: flex;
    justify-content: flex-end;

}
