.buttonsContainer {
    margin: 70px;
    display: flex;
    gap:24px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:87px;
    padding-bottom: 20px;
}

.imageContainer {
}

.image {
}

.textContainer {
}

.code {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}