.tech {
    width: 15vw;
}

.developer {
    width: 15vw;
}

.techHeader, .developerHeader {
    width: 15vw;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-left: 17px;
}

.row:not(:last-child) {
    display: flex;
    margin: 24px 0;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
}
.row:last-child {
    display: flex;
    margin: 24px 0;
    padding-bottom: 12px;
}

.rowHeader {
    display: flex;
    margin: 36px 0 12px 70px;
}

.loading {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    max-height: 30px;
}
.items{
    margin-left: 70px;
    width: 30vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 17px;
}