.App {
    --header_height: 60px;
}

.hw {
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
}

.hwTitle {
    margin: 40px auto 10px 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}