.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    border-radius: 3px;
}

.disabled {
    color:yellow;
}

.secondary {
    color:green;
}

.default {
    color:hotpink;
}

.red {
    color:red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
